doctype 

block locals
  - var title = 'My Website'

html(lang='ja')
  head
    meta(charaset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  include _menu.pug
  body
    block content
    .footer Barakai