extends _layout.pug

block locals
  -var title = 'font-menu';
  
block content
  .content 
    .hoge__1 hoge2hoge2
    .hoge__2 hoge2hoge2
    .ex__box
      .ex__sticky
        .ex__wrap 
          .ex__img
            img(src="../images/animation/0001.jpg")
          .ex__text
            p 最高のパフォーマンス
            p APPLE
    .hoge__3 hoge2hoge2
    .hoge__4 hoge2hoge2