extends _layout.pug

block locals
  -var title = 'Hello Pug!';
  
block content
  .content 
    section.test1
      .hoge__1 hoge1
    section.animation1
      .animation1__box
        .animation1__sticky.sticky__sticky
          .animation1__wrap
            .animation1__imgarea
              img.animation1__img(src="../images/anm/0001.jpg")
            .animation1__text
              p 最高のパフォーマンスを
              p 体感せよ
    section.test2
     .hoge__2 hoge2
    section.test3
      .hoge__3 hoge3
    section.animation2
      .sticky__box
        #animation2__sticky.sticky__sticky
          .sticky__wrap
            .sticky__img
              img#animation2__img(src="../images/animation/0001.jpg")
            .sticky__text
              p 走ることの楽しさを
              p あなたに
    section.test4
      .hoge__4 hoge4
    section.test5
      .hoge__5 hoge5