extends _layout.pug

block locals
  -var title = 'Hello Pug!';
  
block content
  .content 
    button#btn 画像の切り替え
    //- .padding
    //-   p HELLO
    //- .anim_img_box#canvas
    //-   img(src="../images/anm/0130.jpg" style="width: 100%;") 
    //- #anim_img_padding.padding このエリアは画像を動かすためにスクロールされますが、重なっているので見えません。このサイズはJavaScriptで変わります。
    //- .padding
    //-   p Let's start.
    //- img#image_place.img_area(src="../images/anm/0130.jpg" style="width: 100%;") 
    .hoge hogehoge
    #anim_img_box.sticky
      img#anim_img(src="../images/anm/0130.jpg" style="width: 100%;")
      p#anim_img_text ANIM
      #anim_img_padding.padding
    .hoge__1 hoge2hoge2
    .hoge__2 hoge2hoge2
    .hoge__3 hoge2hoge2
    .hoge__4 hoge2hoge2
    #test testbox