@charset "utf-8";

@import 'modules/variables';
@import 'modules/scroll-animation';

@import 'breakpoints/sp';

@media (min-width: 480px) {
  @import 'breakpoints/480up';
}

@media (min-width: 600px) {
  @import 'breakpoints/600up';
}

@media (min-width: 960px) {
  @import 'breakpoints/960up';
}

@media (min-width: 1280px) {
  @import 'breakpoints/1280up';
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  @import 'breakpoints/2x';
}

@media print {
  @import 'breakpoints/print';
}

.footer {
  color: red;
}

#btn {
  margin-top: 100vh;
}
.hoge {
  &__1 {
    height: 500px;
    background-color: lightgray;
  }
  &__2 {
    height: 500px;
    background-color: lightblue;
  }
  &__3 {
    height: 500px;
    background-color: lightgoldenrodyellow;
  }
  &__4 {
    height: 500px;
    background-color: lightcoral;
  }
}

#test {
  height: 100vh;
  background-color: lightcoral;
}
