$cWhite: #fff;
$cBlack: #444444;
$cMain: #85876f;
$cBackgroundcolor: #ecedea;
$cBgGray: #eaebe6;

$font-ssm: 6px;
$font-sm: 14px;
$font-md: 18px;
$font-lr: 17px;
$font-lg: 25px;

$mb-sm: 16px;
$mb-md: 30px;
$mb-lg: 80px;
$pb-sm: 16px;
$pb-md: 30px;
$pb-lg: 80px;

$content-width: 980px;
$contentMaxWidth: 980px;

$l-font: 'Lato', sans-serif;

// sample02.scss用
$c1: #e3e3e3;
$c2: #38342c;
$c3: #766c57;
$c4: #5c5340;
$c5: #9b8c6c;
$c6: #393327;
$c7: #b5ae9f;
$spwidth: 80%;
